# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
# Logs
logs/
*.log
*.out
*.pid

# Environment variables
#.env

# OS files
.DS_Store
Thumbs.db

# Kafka logs (optional if you keep Kafka inside project folder)
kafka-logs/
